<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<title>Burger Shop</title>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>